# SPDX-FileCopyrightText: 2023 Phoenix R&D GmbH <hello@phnx.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[workspace]

resolver = "2"

members = [
    "backend",
    "server",
    "apiclient",
    "coreclient",
    "test_harness",
    "types",
    "applogic",
]

[workspace.dependencies]

sqlx = { version = "0.8.2", default-features = false, features = [
    "macros",
    "uuid",
    "chrono",
    "migrate",
    "bigdecimal",
    "runtime-tokio",
] }

tls_codec = { version = "0.4.1", features = ["derive", "serde", "mls"] }

reqwest = { version = "^0.12", features = [
    "json",
    "rustls-tls-webpki-roots",
    "brotli",
    "http2",
    "charset",
], default-features = false }
chrono = { version = "0.4.38", features = ["serde"] }
thiserror = "2.0"

privacypass = { git = "https://github.com/raphaelrobert/privacypass" }
privacypass-middleware = { git = "https://github.com/phnx-im/pp-middleware" }
openmls = { git = "https://github.com/openmls/openmls" }
openmls_memory_storage = { git = "https://github.com/openmls/openmls" }
openmls_rust_crypto = { git = "https://github.com/openmls/openmls" }
openmls_traits = { git = "https://github.com/openmls/openmls" }
mls-assist = { git = "https://github.com/phnx-im/mls-assist" }
phnxtypes = { path = "./types" }

tracing-subscriber = { version = "0.3", features = [
    "env-filter",
    "tracing-log",
    "parking_lot",
] }

tokio-util = "0.7.13"
derive_more = { version = "0.99.19", features = ["from"] }

mimi_content = { git = "https://github.com/phnx-im/mimi-content", rev = "71495dc8fc794111c381649c4c6cbc6e258a0135" }


[patch.crates-io]
#opaque-ke = { git = "https://github.com/facebook/opaque-ke", branch = "dependabot/cargo/voprf-eq-0.5.0" }
# PR: <https://github.com/RustCrypto/formats/pull/1656/files>
tls_codec = { git = "https://github.com/boxdot/formats", rev = "9846c69f91e732b493dcccf92f4c163bfc711b7d" }

[profile.release]
strip = true
lto = true
codegen-units = 1
