# SPDX-FileCopyrightText: 2024 Phoenix R&D GmbH <hello@phnx.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: air
description: Air client.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0+1

environment:
  sdk: ">=3.7.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  convert: ^3.0.0
  flutter_rust_bridge: 2.11.1
  freezed_annotation: ^3.0.0
  path_provider: ^2.1.1
  image_picker: ^1.0.7
  collection: any
  airapplogic:
    path: rust_builder
  permission_handler: ^12.0.0+1
  intl: ^0.20.2
  uuid: ^4.4.2
  provider: ^6.1.2
  logging: ^1.3.0
  flutter_bloc: ^9.1.1
  visibility_detector: ^0.4.0+2
  path: ^1.9.1
  share_plus: ^12.0.0
  file_selector: ^1.0.3
  flutter_blurhash: ^0.9.1
  flutter_svg: ^2.0.13
  package_info_plus: ^9.0.0
  flutter_hooks: ^0.21.3+1
  url_launcher: ^6.3.2

dev_dependencies:
  build_runner: ^2.4.9
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.0.6
  flutter_launcher_icons: ^0.14.2
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.25.7
  bloc_test: ^10.0.0
  mocktail: ^1.0.4
  crypto: ^3.0.6

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/tilde.svg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # Fonts
  fonts:
    - family: SourceCodeProEmbedded
      fonts:
        - asset: assets/fonts/SourceCodePro.ttf
    # used in snapshot testing
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
    # used in snapshot testing
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/icon.png"
  windows:
    generate: true
    image_path: "assets/images/icon.png"
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/images/mac-icon.png"
